.container {
    display: grid;
    grid-template-areas:
        "header header"
        "tategaki kakikudashi";
    grid-template-columns: 1fr 2fr;
    gap: 4px;
    padding: 4px;
    font-size: 26px;
}

.input-container {
    grid-area: header;
    align-items: center;
    display: flex;
    height: 20vh;
}

#input {
    width: 60%;
    height: 80%;
    display: block;
    resize: none;
    overflow: auto;
    margin: 10px;
    border: 2px solid black;
    border-radius: 14px;
    padding: 10px;
    outline: none;
    font-size: 26px;
}

#btn-input {
    margin: 10px;
    padding: 6px 8px;
    cursor: pointer;
    color: white;
    background-color: red;
    outline: none;
    border: none;
    font-size: 20px;
}

.tategaki {
    grid-area: tategaki;
    writing-mode: vertical-rl;
    display: flex;
    height: 70vh;
    flex-wrap: wrap;
    overflow-x: auto;
    border: 2px solid black;
}


.kakikudashi {
    grid-area: kakikudashi;
    height: 70vh;
    border: 2px solid black;
}


span {
    font-size: 50px;
}

.kanji-box {
    width: 90px;
    min-height: 90px;
    padding-right: 30px;
}

.kaeriten, .okurigana {
    position: relative;
    background: transparent;
    border: none;
    width: 25px;
    min-height: 25px;
    max-height: 100px;
    height: auto;
    overflow-y: auto;
    width: 25px;
    height: 25px;
    font-size: 20px;
    overflow: hidden;
    resize: none;
}

.kaeriten {
    right: 40px;
    bottom: 20px;
}

.okurigana {
    left: 40px;
    bottom: 60px;
}

.kanji-box:hover .kaeriten,
.kanji-box:hover .okurigana{
    border: 1px solid black;
}
