.container {
    display: grid;
    grid-template-areas:
        "header header"
        "tategaki kakikudashi";
    grid-template-columns: 1fr 2fr;
    gap: 4px;
    padding: 4px;
    background-color: black;
}

.container div {
    background-color: white;
    font-size: 26px;
    padding: 10px;
}

.container div.input-container {
    grid-area: header;
    align-items: center;
    display: flex;
    height: 20vh;
}

#input {
    width: 60%;
    height: 80%;
    display: block;
    resize: none;
    overflow: auto;
    margin: 10px;
    border: 2px solid black;
    border-radius: 14px;
    padding: 10px;
    outline: none;
    font-size: 26px;
}

.btn-input {
    margin: 10px;
    padding: 6px 8px;
    cursor: pointer;
    color: white;
    background-color: red;
    outline: none;
    border: none;
    font-size: 20px;
}

.container div.tategaki {
    grid-area: tategaki;
    writing-mode: vertical-rl;
    height: 70vh;
}

.container div.kakikudashi {
    grid-area: kakikudashi;
    height: 70vh;
}

